h2{
    font-size: 2rem;
    color:  hsla(277, 100%, 50%, 0.719);
    text-align: 12rem;
    padding: 2rem;  
}

.yo{
    
    width: 50%;
    background: #ffffff;
    padding: 20px 0;
    height: auto;
    text-align: center;
    border-radius: 50%;
}
body {

    background-color: #ffffff;
    background-image: url("./img/Twice1.0.webp");
}
p {
    background-color: hwb(133 10% 59% / 0.815);
    background-image: url("./img/Fondorosa.webp");
    
}
